on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Install cosign
        uses: sigstore/cosign-installer@main
      - name: Install regctl
        uses: regclient/actions/regctl-installer@main
      - name: regctl login
        uses: regclient/actions/regctl-login@main
      - name: Debug installers
        shell: bash
        run: |
          env
          type regctl
          type cosign

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"

      # - name: Gather release details
      #   if: startsWith( github.ref, 'refs/tags/v' )
      #   id: release_details
      #   run: |
      #     VERSION=${GITHUB_REF#refs/tags/}
      #     VALID_RELEASE=false
      #     if [ -f "release.md" ] && grep -q "Release $VERSION" release.md; then
      #       VALID_RELEASE=true
      #     fi
      #     RELEASE_NOTES=$(cat release.md)
      #     # escape % and linefeeds
      #     RELEASE_NOTES="${RELEASE_NOTES//'%'/'%25'}"
      #     RELEASE_NOTES="${RELEASE_NOTES//$'\n'/'%0A'}"
      #     RELEASE_NOTES="${RELEASE_NOTES//$'\r'/'%0D'}"
      #     echo ::set-output name=version::${VERSION}
      #     echo ::set-output name=valid::${VALID_RELEASE}
      #     echo ::set-output name=release_notes::${RELEASE_NOTES}

      # - name: Create release
      #   if: steps.release_details.outputs.valid == 'true'
      #   uses: softprops/action-gh-release@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     tag_name: ${{ steps.release_details.outputs.version }}
      #     body: ${{ steps.release_details.outputs.release_notes }}
      #     draft: false
      #     prerelease: false
      #     files: |
      #       artifacts/1.txt
      #       artifacts/2.txt
      #       artifacts/3.txt

      # - name: Create release
      #   if: steps.release_details.outputs.valid == 'true'
      #   id: release_create
      #   uses: actions/create-release@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     tag_name: ${{ steps.release_details.outputs.version }}
      #     release_name: ${{ steps.release_details.outputs.version }}
      #     body: ${{ steps.release_details.outputs.release_notes }}
      #     draft: false
      #     prerelease: false

      # - name: Upload Release Asset - 1
      #   if: steps.release_details.outputs.valid == 'true'
      #   id: release_assets_1
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.release_create.outputs.upload_url }}
      #     asset_path: ./artifacts/1.txt
      #     asset_name: 1.txt
      #     asset_content_type: text/plain

      # - name: Upload Release Asset - 2
      #   if: steps.release_details.outputs.valid == 'true'
      #   id: release_assets_2
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.release_create.outputs.upload_url }}
      #     asset_path: ./artifacts/2.txt
      #     asset_name: 2.txt
      #     asset_content_type: text/plain

      # - name: Upload Release Asset - 3
      #   if: steps.release_details.outputs.valid == 'true'
      #   id: release_assets_3
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.release_create.outputs.upload_url }}
      #     asset_path: ./artifacts/3.txt
      #     asset_name: 3.txt
      #     asset_content_type: text/plain

